{% extends "base.html" %}
{%load static %}
{% block content %}
<!-- Content for this specific page goes here -->
<div class="read-more-content">
    <!-- School Picture -->
    <img src="{% static 'assets/images/school_img.jpeg' %}" alt="St. Albert's School" class="school-image">
    <!-- Small Details -->
    <div class="right-column">
        <h1><b>St. Albert.'s School</b></h1>
    <p><h5><em>
        St. Albert's School is a renowned educational institution dedicated to providing excellence in education and holistic development.
        With a rich history spanning several decades, the school has consistently upheld its commitment to fostering academic brilliance,
        nurturing creativity, and instilling moral values in its students. Situated in serene and conducive environment for learning,
        St. Albert's School boasts a team of highly qualified educators who are passionate about shaping the future of young minds.
        The school's comprehensive curriculum, state-of-the-art facilities, and a wide range of extracurricular activities create an
        ideal platform for students to explore their potential and emerge as responsible global citizens. St. Albert's School is more than an institution;
        it's a nurturing community that prepares students to face the challenges of the modern world with confidence and integrity.
    </em></h5></p>
</div>
</div>
{% endblock %}
